.seat-line {
  list-style: none;
}
.seat {
  width: calc((100%)/18);
  height: 36.6px;
  display: list-item;
  box-sizing: border-box;
  font-size: 15px;
  float: left;
  padding: 5px;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  position: relative;
  margin: 1px;
  background-color: #fd6d8e;
}
.seat:hover {
  background-color: #2dcff8;
  cursor: pointer;
}

.seat-arrangement {
  padding: 5px;
  margin: 10px;
  position: absolute;
  /*min-width: 850px;*/
/*  min-width: 725px;*/
  /*max-width: 780px;*/
  /*padding-left: 13%;*/
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.seat:nth-child(4) {
  margin-right: 20px
}
.seat:nth-child(12) {
  margin-right: 20px
}

label{
	color:white !important;
}